#categories {
    display: flex;
    height: 100px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category > img {
    height: 80%;
    margin-bottom: -20px;
}
