#empty-cart {
    background-color: white;
    width: 100%;
    text-align: center;
}

#carts-main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#restaurant-details {
    line-height: 5px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 150px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.cart-item > input {
    width: 30px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
}

.cart > button {
    background-color: black;
    color: white;
    border: none;

    padding: 10px 20px;
}
